h2 {
  font-size: 22px;
  margin-bottom: 16px;
  text-align: left;
  padding: 25px;
  padding-bottom: 0;
  color: black;
}

.step-title {
  font-size: 17px;
  text-align:center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnSuivant{
  background-color: rgb(196, 0, 0);
  text-color:white;
}

.btnAnnuler{
  background-color: rgb(240, 240, 240);
}

.btnRetour{
  background-color: rgb(240, 240, 240);
}

.btnCreer{
  background-color: rgb(0, 0, 161);
  text-color:white;
}

.titreDialog{
  text-align: center;
  margin-bottom: 1%;
  background-color: rgb(240, 240, 240);
  color:rgb(87, 87, 87);
}
