ul {
    list-style: none; /* Supprime les puces par d茅faut */
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: serif ;
}
li::before{
    content: "";
}
ul ul li:before {
    content: ">"; /* D茅finit le contenu de l'ic么ne */
    margin-right: 10px; /* Ajoute de l'espace entre l'ic么ne et le texte */
    color: #f00; /* D茅finit la couleur de l'ic么ne */
    font-size: 1.2em; /* D茅finit la taille de l'ic么ne */
  }

  .card {
    background: rgb(236, 236, 236);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }


  .titre{
    color:rgb(102, 102, 102);
    text-align: center;
    font-weight: bold;
  }

.profilDev{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  height:150px;
  border-radius: 10%;
}

.nomPrenom{
  color:black;
  text-align: center;
  font-size:25px;
}

.body{
  background-color:rgb(212, 212, 212);
  width: 90%;
  border-radius: 10%;
  text-align: center;
  padding:5px;
  margin-left: 6%;
}

.card-footer{
  text-align: center;
}

.date{
  color:black;
}
