<h1 mat-dialog-title>Inviter un membre pour ce projet</h1>
<hr>
<span mat-dialog-content>
  <h3 class="titreProjet">{{data.projet?.nom}}</h3>

  <ng-container [formGroup]="rolePkForm">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Membre</mat-label>
    <mat-select formControlName="membreId"  >
      <mat-option *ngFor="let m of membreList" [value]="m.id">{{m.email}}</mat-option>
    </mat-select>
    <mat-error *ngIf="rolePkForm.get('membreId').hasError('required')">Veuillez sélectionner un membre</mat-error>
  </mat-form-field>
  </ng-container>
  <ng-container [formGroup]="roleForm">
  <mat-form-field class="w-100 roleFormField" appearance="fill">
    <mat-label>Rôle</mat-label>
    <mat-select formControlName="type" required>
      <mat-option>--</mat-option>
      <mat-option  [value]="'dev team'">
       Membre de développement
      </mat-option>
      <mat-option  [value]="'po'">
        Product owner
       </mat-option>
       <mat-option  [value]="'scrum master'">
        Scrum master
       </mat-option>
    </mat-select>
    <mat-error *ngIf="roleForm.get('type').hasError('required')">Veuillez choisir un rôle</mat-error>
    <mat-error *ngIf="roleForm.get('type').errors?.invalidRole" >
      Vous avez déjà envoyé un
      <span *ngIf="roleForm.get('type').value == 'po'">Product owner</span>
      <span *ngIf="roleForm.get('type').value == 'scrum master'">Scrum master</span>
      dans ce projet
      </mat-error>
  </mat-form-field>
</ng-container>
</span>

<mat-dialog-actions class="mat-dialog-actions-center">
  <button mat-flat-button (click)="inviter()" [disabled]="!allValid()" class="envoyer-button">Envoyer</button>
  <button mat-button mat-dialog-close class="close-button">Annuler</button>
</mat-dialog-actions>


