<h3 mat-dialog-title class="badge bg-infos">Projet
  <span class="nomProjet">{{data.projet.nom}}</span>
</h3>

<mat-dialog-content class="d-flex align-items-center" id="content">
    <mat-form-field appearance="fill" class="w-75">
      <mat-label>Clé du projet</mat-label>
      <input (keyup.enter)="confirmer()" matInput [formControl]="cles" placeholder="Saisir la clé du projet...">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="cles.hasError('required')">Ce champ est obligatoire</mat-error>
    </mat-form-field>

    <button class="btnEntrer" mat-raised-button type="submit"
      color="primary" [disabled]="cles.invalid">Entrer
    </button>
</mat-dialog-content>



