.card-body
{
height:300px;
width: 50px;
}

.content{
  margin-top: 2%;
}

.card{
  background-color: rgba(121, 176, 185, 0.349);
  width: 80%;
}

#courbe2{
  background-color: rgba(194, 194, 194, 0.767);
}

.container{
  display: flex;
  justify-content: center;
}

.titrePage{
  font-size:30px;
  font-weight: bold;
}

.titre{
  color:rgb(80, 80, 80);
}
