.rounded{
  margin-top: 0.8%;
  background-color: rgb(194, 3, 3);
  transition: background-color 0.3s ease;
}

.content{
  margin-top: 2%;
}

.rounded:hover{
  background-color: green;
}

#premierePartie{
  background-color: rgba(0, 194, 219, 0.692);
}

#deuxiemePartie{
  background-color: rgba(243, 243, 243, 0.692);
}

.corbeille{
  color: rgba(61, 61, 61, 0.692);
  font-weight: bold;
  width: 100%;
  margin-left: 1%;
  font-size: 30px;
}

.card{
  margin-left: 0.6%;
}

